{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8.0"
      }
    }]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    
  ]
}