{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8.0"
      }
    }]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "decoratorsBeforeExport": true,
      }
    ],
    "@babel/plugin-proposal-class-properties",
    
  ]
}