{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "plugins": [
    "babel"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  }, 
  "globals": {
    "res": true,
    "redirect": true,
    "app": true,
    "view": true
  },
  "rules": {
    "no-restricted-syntax": [0],
    "class-methods-use-this": [0],
    "no-underscore-dangle": [0],
    "no-multi-assign": [0],
    "no-bitwise": [0],
    "func-names": [0],
    "no-param-reassign": [0],
    "no-lonely-if": [0],
    "no-continue": [0],
    "no-plusplus": [0]
  },
  "parserOptions": {
    "ecmaVersion": 2018
  }
}