{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:node/recommended"],
  "plugins": [
    "babel"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
    "jest": true,
    "jasmine": true
  }, 
  "globals": {
    "res": true,
    "redirect": true,
    "app": true,
    "view": true
  },
  "rules": {
    "no-restricted-syntax": [0],
    "class-methods-use-this": [0],
    "no-underscore-dangle": [0],
    "no-multi-assign": [0],
    "no-bitwise": [0],
    "func-names": [0],
    "no-param-reassign": [0],
    "node/no-unpublished-require": [0]
  }
}